# Dependencies
node_modules/

# React Native
.expo/
.expo-shared/

# Build output
android/app/build/
ios/Pods/
ios/build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local

# Zelara
.zelara/
